## Unidade 01 - Avaliação 01

- **Aluno**: Abraão Vitor Lopes Dantas 
- **Matrícula**: 20170071334

<br>
<div class="alert alert-info">
<b>Avisos.</b>
</div>


1. O notebook deverá ser renomeado para o nome completo do aluno seguindo o formato: Ivanovitch_Medeiros_Dantas_da_Silva.ipynb
2. Todas as questões devem ser respondidas através de códigos escritos em linguagem Python, versão 3.X, e no espaço destinado para esse fim. Criem células Markdown para destacar quando inicia e termina as questões. 
3. O notebook resultante deverá ser enviado através do Sigaa conforme tarefa cadastrada pelo professor. Ressalta-se que após o horário de final da aula, a submissão da tarefa estará fechada no Sigaa. 
4. O arquivo da base de dados não deve ser alterado. 
5. Em nenhuma hipótese os alunos devem trocar mensagens entre si. A prova só deve ser compartilhada na Internet após a sua correção. Caso seja identificado tal situação, os envolvidos terão automaticamente nota Zero (0.0) na avaliação.

## Base de dados

Nessa avaliação será utilizado a base de dados referente aos concursos da Mega-Sena. 

A **Mega-Sena** tem sido a maior modalidade lotérica do Brasil, sendo uma entre as dez modalidades atuais das loterias da Caixa (Caixa Econômica Federal), com sorteios ordinários duas vezes por semana, além da Mega-Sena da Virada.

Para ganhar o **prêmio máximo da Mega-Sena** — **a sena** — , é necessário acertar a sena, o que significa obter coincidência entre **seis dos números** apostados e os seis números sorteados, de um total de sessenta dezenas (**de 01 a 60**), independentemente da ordem da aposta ou da ordem do sorteio. 

O concurso prevê também a chance de se ganhar parte do prêmio máximo, pelo acerto da **quina** (apenas cinco dos números sorteados), ou da **quadra** (apenas quatro dos números sorteados), com prêmios significativamente menores que aquele que seria pago na ocorrência do acerto da sena, o da quina maior que o da quadra. 

A base de dados está em formato de planilha em excel. Para carregar esse arquivo em formato de **dataframe** utilizar o código abaixo: 

>```python
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'basedados.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()
```

In [54]:
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'basedados.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
dados.head()

['MegaSena']

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0

## a) (2.0 pontos) Investigando a base de dados

1. (0.2 pontos) Quantos dados faltantes existem em toda a base de dados?
2. (0.2 pontos) Quais os tipos das colunas da base de dados?
3. (0.2 pontos) Quantos concursos foram realizados?
4. (0.4 pontos) Quantos dias se passaram entre o primeiro e o último concurso?
5. (1.0 ponto)  Qual a porcentagem de concursos acumulados?

In [2]:
dados.isnull().sum()

Concurso             0
Data Sorteio         0
Dezena1              0
Dezena2              0
Dezena3              0
Dezena4              0
Dezena5              0
Dezena6              0
Arrecadacao_Total    0
Ganhadores_Sena      0
Rateio_Sena          0
Ganhadores_Quina     0
Rateio_Quina         0
Ganhadores_Quadra    0
Rateio_Quadra        0
Acumulado            0
Valor_Acumulado      0
Estimativa_Prêmio    0
dtype: int64

In [40]:
print(dados.dtypes)

Concurso                      int64
Data Sorteio         datetime64[ns]
Dezena1                       int64
Dezena2                       int64
Dezena3                       int64
Dezena4                       int64
Dezena5                       int64
Dezena6                       int64
Arrecadacao_Total           float64
Ganhadores_Sena               int64
Rateio_Sena                 float64
Ganhadores_Quina              int64
Rateio_Quina                float64
Ganhadores_Quadra             int64
Rateio_Quadra               float64
Acumulado                    object
Valor_Acumulado             float64
Estimativa_Prêmio             int64
dtype: object

In [28]:
dados.shape[0]

2025

In [53]:
first = (dados["Data Sorteio"])[0]
last = dados["Data Sorteio"][2024]
diff = last - first
diff.days

8048

In [70]:
mypivot=dados.Acumulado.value_counts()
mypivot[0]/dados.shape[0]

0.7644444444444445

## b) (3.0 pontos) Tentativa de encontrar uma aposta perfeita


1. (3.0 pontos) Pythonildo teve uma ideia brilhante para **ganhar na Mega-Sena**. A estratégia é fazer uma aposta de 6 números contendo os 6 números que mais apareceram em todos os concursos. Encontre a aposta perfeita segundo Pythonildo.

*sugestão - consultar a função pandas.DataFrame.unstack*

In [85]:
d1 = dados["Dezena1"]
d2 = dados["Dezena2"]
d3 = dados["Dezena3"]
d4 = dados["Dezena4"]
d5 = dados["Dezena5"]
d6 = dados["Dezena6"]

d = {}
for i in d1:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
for i in d2:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
for i in d3:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
for i in d4:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
for i in d5:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
for i in d6:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
        
sorted(d.items(), key=lambda x: x[1],reverse=True)[:6]

[(5, 233), (53, 230), (10, 227), (23, 224), (4, 224), (54, 221)]

## c) (5.0 pontos) Investigando a premiação

Para cada concurso da Mega-Sena, a maior premiação está relacionada com o acerto das 6 dezenas, e o seu valor é dada pela seguinte relação:

$$Prêmio = Ganhadores\_Sena	\times Rateio\_Sena$$

1) (1.0 ponto) Crie uma nova coluna na base de dados para o prêmio máximo de cada concurso. A coluna deve ser chamada de "prêmio_máximo"

2) (1.0 ponto) Qual concurso ocorreu o maior prêmio da Mega-Sena?

3) (1.5 pontos) Crie uma nova coluna chamada "Rótulo" baseada na faixa de valores da coluna "prêmio_máximo"

| Intervalo [Milhões de Reais] | Rótulo |
|------------------------------|--------|
| 0 - 1                        | I      |
| 1 - 5                        | II     |
| 5 - 10                       | III    |
| 10 - 20                      | IV     |
| 20 - 40                      | V      |
| 40 - 80                      | VI     |
| 80 - 100                     | VII    |
| 100 - 200                    | VIII   |
| 200 - 300                    | IX     |
| 300 -                        | X      |
4) (1.5 pontos) Calcule a porcentagem de ocorrência para cada rótulo assumindo o número total de concursos realizados.

In [97]:
dados["prémio_máximo"] = dados["Ganhadores_Sena"] * dados["Rateio_Sena"]

In [96]:
dados.sort_values("prémio_máximo", ascending= False).head(1)

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio,prémio_máximo
1999,2000,2017-12-31,6,37,34,10,3,17,890947368.5,17,18042279.04,4862,10565.03,173428,423.12,NÃO,0.0,2000000,3.067187e+08

In [99]:
def which_class(row):
    
    ageclass = row['prémio_máximo']
    if ageclass >= 0 and ageclass < 1000000:
        return "I"
    elif ageclass < 5000000:
        return "II"
    elif ageclass < 10000000:
        return "III"
    elif ageclass < 20000000:
        return "IV"
    elif ageclass < 40000000:
        return "V"
    elif ageclass < 80000000:
        return "VI"
    elif ageclass < 100000000:
        return "VII"
    elif ageclass < 200000000:
        return "VIII"
    elif ageclass < 300000000:
        return "IX"
    else:
        return "X"
    
dados["Rótulo"] = dados.apply(which_class, axis=1)

In [111]:
dados["Rótulo"].value_counts()/dados["Rótulo"].value_counts().sum()

I       0.770370
V       0.063704
II      0.049877
IV      0.046914
III     0.032593
VI      0.026667
VIII    0.004938
IX      0.002963
VII     0.001481
X       0.000494
Name: Rótulo, dtype: float64